
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-dark">
    <tr>
        <th class="text-danger">ID</th>
        <th class="text-danger">Kategori</th>
        <th class="text-danger">Durum</th>
    </tr>
    <tr>
        <th class="text-warning">1</th>
        <th class="text-warning">Spor</th>
        <th class="text-warning">Aktif</th>
    </tr>
    <tr>
        <th class="text-warning">2</th>
        <th class="text-warning">Yazılım</th>
        <th class="text-warning">Aktif</th>
    </tr>
</table>

